.container{
    display: flex;
    width: 100%;
    max-width: 100vw;
    justify-content: space-between;
    padding: 10px;
    box-sizing: border-box;
    border-bottom: 1px solid #FFFFFF29;
}

.activeButton{
    background-color: pink;
}
.Active{
    background-color: #1A5FFF !important;
}
.rightButtons{
    color: white;
    background-color: #848890;
}
.left input{
    padding: 10px;
    border-radius: 7px;
    border: none;
}
.save{
    background-color: #4ADE80CC;
    color: white;
}
.x{
    background-color: inherit;
    color: white;
}
.right{
    display: flex;
    gap: 20px;
}