.container{
    width: 100vw;
    height: 100vh;
    gap: 30px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
}
.body{
    width: 30%;
    justify-self: center;
}
.footer{
    position: absolute;
    bottom: 30px;
    left: 30px;
}
.footer button{
    display: flex;
    gap: 10px;
    padding: 10px;
    align-items: center;
    background-color: inherit;
    color: white;
}