.container{
    display: flex;
    padding: 10px;
}
.choices{
    display: flex;
    gap: 10px;
}
.choices button{
    background-color: orange;
}
.selectedChoice{
    padding: 10px;
    color: white;
    border-radius: 10px;
    padding-inline: 20px;
    background-color: #053EC4;
}