.container{
    display: flex;
    flex-direction: column;
    width: 100vh;
    height: 100%;
    box-sizing: border-box;
}
.inputs{
    margin-left: auto;
    background-color: pink;
}
.bubbles{
    background-color: aqua;
}