.container{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    background-color: pink;
    overflow-y: auto;
}
.inputs{
    margin-left: auto;
    background-color: pink;
}
.bubbles{
    background-color: aqua;
}