.container{
    display: flex;
    flex-direction: column;
    width: 100vw;   
    height: 100vh;
    gap: 20px;
    overflow-x: hidden;
    box-sizing: border-box;
    padding: 10px;
}
.small{
    display: flex;
    flex-direction: column;
}
.header{
    padding: 10px;
    display: flex;
    justify-content: center;
    gap: 30px;
}
.count{
    padding: 20px;
    border-radius: 20px;
    width: 200px;
    height: 120px;
    background-color:var(--bubblesbackground);
    border: var(--border);
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.count p{
    margin: 0px;
}
.footer{
    padding: 10px;
    display: flex;
    gap: 30px;
}
.body{
    display: flex;
    align-self: center;
    overflow-y: auto;
    overflow-x: auto;
    max-width: 90vw;
}
.Doughnut{
    display: flex;
    gap: 20px;
}
.noresponse{
    align-self: center;
    /* justify-self: center; */
}