.container{
    width: 100vw;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    gap: 10px;
}
hr{
    margin: 0;
    border: 0;
    height: 0.1px;
    border-bottom: 1px solid #FFFFFF29;
}