.container{
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 10px;
    background-color: black;
    border-radius: 10px;
    box-sizing: border-box;
    width: 335px;
}
.deleteIcon{
    position: absolute;
    top: -20px;
    right: -20px;
    background-color: #444444;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    align-content: center;
    text-align: center;
}
.input{
    display: flex;
    gap: 10px;
    padding: 10px;
    flex-direction: column;
}
.inputGroup{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.input input{
    background-color: inherit;
    border: none;
    padding: 10px;
    color: var(--color);
}

